img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.emphasizedText{
    font-weight: bold;
}

.common{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: darkgreen;
    color: whitesmoke;
    height: 50px;
    line-height: 50px;
    padding: 10px;
}

.footer{
    height: 25px;
    background-color: black;
    color: whitesmoke;
    line-height: 25px;
}

.header2{
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    font-size: larger;
}

nav{
    background-color: lightgray;
    padding: 10px;
    overflow: hidden;
}

nav a{
   float: right;
   color: black;
   padding: 10px 13px;
   font-size: 16px;
   text-decoration: none;
   font-weight: bold;
   text-align: center;
}

nav a:hover{
    background-color: darkgreen;
}

.pagelink{
    font-size: large;
    font-weight: bold;
}

body{
    background-color: whitesmoke;
    font-family: "Open Sans", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border: 10px solid black;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

ul{
    list-style-position: inside;
    display: inline-table; text-align: left;
}

ol{
    list-style-position: inside;
    display: inline-table; text-align: left;
}

.finally{
    background-color: lightgray;
    padding: 10px;
    overflow: hidden;
}

a{
    color: darkgreen;
    text-decoration: none;
 }

 .box1{
    text-decoration: underline;
}

.pic{
    background-color: lightgray;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    overflow: hidden;
}

.vid{
    background-color: darkgreen;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    overflow: hidden;
}
